In [27]:
import pandas as pd
import os

In [28]:
path = os.path.join(".", "data", "planespotter", "2019-11-12 prodlist.xlsx")
planespotter_aircrafts = pd.read_excel(path)

In [29]:
planespotter_aircrafts.head()

,Aircraft Manufacturer,Aircraft Type,Operator,Operator ID,Operator Category,Operator Country,Operator Parent/Group,Parent/Group ID,Parent/Group Country,First Operator,...,Build Country,First Customer Delivery Date,Delivery Date Operator,Exit Date Operator,Nr. of Engines,Engine Manufacturer,Engine Type,Config (Pax/Combi/Cargo/Other),Seat Total,Age (Years)
0,Airbus,Airbus A300B1,Airbus Industrie,1336,Manufacturer,France,NaN,NaN,NaN,NaN,...,France,NaN,1972-01-01,NaN,2,General Electric,CF6-50,Other,0,1.7
1,Airbus,Airbus A300B1,TEA - Trans European Airlines,294,Airline,Belgium,NaN,NaN,NaN,TEA - Trans European Airlines,...,France,1974-11-01,1974-11-01,NaN,2,General Electric,CF6-50,NaN,0,30.4
2,Airbus,Airbus A300B2,SA Novespace,7216,Other,France,NaN,NaN,NaN,SA Novespace,...,France,2005-01-01,2005-01-01,NaN,2,General Electric,CF6-50,NaN,0,46.4
3,Airbus,Airbus A300B2,Air Inter,1309,Airline,France,NaN,NaN,NaN,Air Inter,...,France,1977-01-01,1977-01-01,NaN,2,General Electric,CF6-50,NaN,0,19.4
4,Airbus,Airbus A300B2,Air France,1306,Airline,France,Air France-KLM,11321.0,France,Air France,...,France,1974-05-01,1974-05-01,NaN,2,General Electric,CF6-50,NaN,0,23.1

In [40]:
planespotter_aircrafts_dictionnary = planespotter_aircrafts.groupby("Aircraft Type").count()
planespotter_aircrafts_dictionnary = planespotter_aircrafts_dictionnary.reset_index()
planespotter_aircrafts_dictionnary["Wiki name"] = planespotter_aircrafts_dictionnary["Aircraft Type"]
planespotter_aircrafts_dictionnary = planespotter_aircrafts_dictionnary[["Aircraft Type", "Wiki name"]]
planespotter_aircrafts_dictionnary = planespotter_aircrafts_dictionnary.rename(columns={"Aircraft Type": "Planespotter name"})
planespotter_aircrafts_dictionnary.head()

  Planespotter name        Wiki name
0            ATR 42           ATR 42
1            ATR 72           ATR 72
2   Airbus A220-100  Airbus A220-100
3   Airbus A220-300  Airbus A220-300
4   Airbus A300-600  Airbus A300-600

In [43]:
path = os.path.join(".", "data", "planespotter", "planespotter_aircratfs_dictionnary.csv")
planespotter_aircrafts_dictionnary.to_csv(path)

In [36]:
path = os.path.join(".", "planespotter_aircratfs_dictionnary.csv")
planespotter_aircrafts_dictionnary = pd.read_csv(path)