In [1]:
import pandas as pd
import os
from all_aircrafts import all_aircrafts

loading wikipedia data from hard drive
There are 5 dataframes

In [2]:
path = os.path.join(".", "data", "planespotter", "2019-11-12 prodlist.xlsx")
planespotter_aircrafts = pd.read_excel(path)

In [3]:
planespotter_aircrafts.head()

,Aircraft Manufacturer,Aircraft Type,Operator,Operator ID,Operator Category,Operator Country,Operator Parent/Group,Parent/Group ID,Parent/Group Country,First Operator,...,Build Country,First Customer Delivery Date,Delivery Date Operator,Exit Date Operator,Nr. of Engines,Engine Manufacturer,Engine Type,Config (Pax/Combi/Cargo/Other),Seat Total,Age (Years)
0,Airbus,Airbus A300B1,Airbus Industrie,1336,Manufacturer,France,NaN,NaN,NaN,NaN,...,France,NaN,1972-01-01,NaN,2,General Electric,CF6-50,Other,0,1.7
1,Airbus,Airbus A300B1,TEA - Trans European Airlines,294,Airline,Belgium,NaN,NaN,NaN,TEA - Trans European Airlines,...,France,1974-11-01,1974-11-01,NaN,2,General Electric,CF6-50,NaN,0,30.4
2,Airbus,Airbus A300B2,SA Novespace,7216,Other,France,NaN,NaN,NaN,SA Novespace,...,France,2005-01-01,2005-01-01,NaN,2,General Electric,CF6-50,NaN,0,46.4
3,Airbus,Airbus A300B2,Air Inter,1309,Airline,France,NaN,NaN,NaN,Air Inter,...,France,1977-01-01,1977-01-01,NaN,2,General Electric,CF6-50,NaN,0,19.4
4,Airbus,Airbus A300B2,Air France,1306,Airline,France,Air France-KLM,11321.0,France,Air France,...,France,1974-05-01,1974-05-01,NaN,2,General Electric,CF6-50,NaN,0,23.1

In [4]:
planespotter_aircrafts_dictionnary = planespotter_aircrafts.groupby("Aircraft Type").count()
planespotter_aircrafts_dictionnary = planespotter_aircrafts_dictionnary.reset_index()
planespotter_aircrafts_dictionnary["Wiki name"] = planespotter_aircrafts_dictionnary["Aircraft Type"]
planespotter_aircrafts_dictionnary = planespotter_aircrafts_dictionnary[["Aircraft Type", "Wiki name"]]
planespotter_aircrafts_dictionnary = planespotter_aircrafts_dictionnary.rename(columns={"Aircraft Type": "Planespotter name"})
planespotter_aircrafts_dictionnary.head()

  Planespotter name        Wiki name
0            ATR 42           ATR 42
1            ATR 72           ATR 72
2   Airbus A220-100  Airbus A220-100
3   Airbus A220-300  Airbus A220-300
4   Airbus A300-600  Airbus A300-600

In [5]:
all_aircrafts.head()

,Model,Seats,First flight,Fuel burn kg/km,Fuel per seat L/100km,Sector km,CO2 per seat kg/100km,CO2 kg/km,Aircraft type
0,Antonov An-148 (241 nmi),89,2004,4.23,5.95,560.0,13.187973,13.05378,commuter_aircraft
1,Antonov An-158 (241 nmi),99,2010,4.34,5.47,560.0,12.124069,13.39324,commuter_aircraft
2,ATR 42-500,48,1995,1.26,3.15,560.0,6.981868,3.88836,commuter_aircraft
3,ATR 72-500,70,1997,1.42,2.53,560.0,5.607659,4.38212,commuter_aircraft
4,Beechcraft 1900D (226 nm),19,1982,1.00,6.57,560.0,14.562182,3.08600,commuter_aircraft

# Export data

In [6]:
wiki_aircrafts_names = all_aircrafts.groupby("Model").count().reset_index()["Model"]
path = os.path.join(".", "data", "wikipedia", "wiki_aircrafts_names.csv")
planespotter_aircrafts_dictionnary.to_csv(path)

In [7]:
path = os.path.join(".", "data", "planespotter", "planespotter_aircratfs_dictionnary.csv")
planespotter_aircrafts_dictionnary.to_csv(path)

# Import data once manually updated

In [ ]:
path = os.path.join(".", "data", "planespotter", "planespotter_aircratfs_dictionnary_corrected.csv")
planespotter_aircrafts_dictionnary_corrected = pd.read_csv(path)

# Merge all_aircrafts and the dictionnary

In [ ]:
all_aircrafts.head()

In [ ]:
planespotter_aircrafts_dictionnary_corrected = planespotter_aircrafts_dictionnary_corrected.rename(columns={"Planespotter name": "Model"})
planespotter_aircrafts_dictionnary_corrected

In [ ]:
# Join planespotter_aircrafts_dictionnary_corrected and all_aircrafts